{
  "consumer_key": "XXX",
  "consumer_secret": "XXX",
  "token": "XXX",
  "token_secret": "XXX",
  "authorized_account": ["you"]
  "on_dm": [
    {
      "name": "Test Command",
      "match": "^test",
      "script": "ls",
      "reply": true,
      "case": true
    },
    {
      "name": "Test create file",
      "match": "new ([a-zA-Z]+)",
      "script": "touch {1}",
      "reply": true
    }
  ],
  "on_mentions": []
}
